@mixin btn($color: green) {
  height: 36px;
  border-radius: 4px;
  min-width: 36px;
  padding: 6px;
  text-align: center;
  position: relative;
  display: inline-block;
  color: $color-black50;

  & > i {
    font-size: 24px;
  }
  &:active,
  &.active {
    color: $color;
    background-color: lighten($color, 60%);
  }
  &:hover {
    cursor: pointer;
    background: $color-black10;
    color: $color-black;
  }
}