$size-header-height: 40px;
$size-table-cell: 48px;
$size-table-cell-width: 120px;

$color-black: #000000;
$color-black5: #f7f7f7;
$color-black10: #e6e6e6;
$color-black20: #cccccc;
$color-black50: #808080;
$color-border-input: #c0c0c0;
$color-bg-table_cell: #f8f9fa;
$color-outline-selected: #3c74ff;